In [2]:
#!curl 'https://raw.githubusercontent.com/codebasics/py/master/ML/5_one_hot_encoding/Exercise/carprices.csv' -o carprice.csv

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
df=pd.read_csv('/content/drive/My Drive/carprice.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [5]:
ndf=pd.get_dummies(df[['Car Model']])
ndf

    Car Model_Audi A5  Car Model_BMW X5  Car Model_Mercedez Benz C class
0                   0                 1                                0
1                   0                 1                                0
2                   0                 1                                0
3                   0                 1                                0
4                   0                 1                                0
5                   1                 0                                0
6                   1                 0                                0
7                   1                 0                                0
8                   1                 0                                0
9                   0                 0                                1
10                  0                 0                                1
11                  0                 0                                1
12                  0                 0                                1

In [6]:
ndf=ndf.iloc[:,1:]
ndf

    Car Model_BMW X5  Car Model_Mercedez Benz C class
0                  1                                0
1                  1                                0
2                  1                                0
3                  1                                0
4                  1                                0
5                  0                                0
6                  0                                0
7                  0                                0
8                  0                                0
9                  0                                1
10                 0                                1
11                 0                                1
12                 0                                1

In [7]:
df=df.join(ndf)

In [8]:
df=df.iloc[:,1:]

In [9]:
df

    Mileage  Sell Price($)  ...  Car Model_BMW X5  Car Model_Mercedez Benz C class
0     69000          18000  ...                 1                                0
1     35000          34000  ...                 1                                0
2     57000          26100  ...                 1                                0
3     22500          40000  ...                 1                                0
4     46000          31500  ...                 1                                0
5     59000          29400  ...                 0                                0
6     52000          32000  ...                 0                                0
7     72000          19300  ...                 0                                0
8     91000          12000  ...                 0                                0
9     67000          22000  ...                 0                                1
10    83000          20000  ...                 0                                1
11    79000          21000  ...                 0                                1
12    59000          33000  ...                 0                                1

[13 rows x 5 columns]

In [10]:
x=df.drop(df[['Sell Price($)']],axis='columns')
x

    Mileage  Age(yrs)  Car Model_BMW X5  Car Model_Mercedez Benz C class
0     69000         6                 1                                0
1     35000         3                 1                                0
2     57000         5                 1                                0
3     22500         2                 1                                0
4     46000         4                 1                                0
5     59000         5                 0                                0
6     52000         5                 0                                0
7     72000         6                 0                                0
8     91000         8                 0                                0
9     67000         6                 0                                1
10    83000         7                 0                                1
11    79000         7                 0                                1
12    59000         5                 0                                1

In [11]:
y=df[['Sell Price($)']]
y

    Sell Price($)
0           18000
1           34000
2           26100
3           40000
4           31500
5           29400
6           32000
7           19300
8           12000
9           22000
10          20000
11          21000
12          33000

In [12]:
lreg=LinearRegression()
lreg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
lreg.predict([[45000,4,0,1]])

array([[36991.31721061]])

In [15]:
lreg.predict([[86000,7,1,0]])

array([[11080.74313219]])

In [16]:
lreg.score(x,y)

0.9417050937281083